body {
    overflow-x: hidden;
}

.card-text {
    font-size: 18px;
}

@media screen and (max-width: 767px) { /* tamanho de um telefone */
    .container-footer {
        display: block !important;
        padding-top: 12px;
        text-align: center;
    }

    .navbar>.container {
        flex-wrap: nowrap;
    }

    .display-none {
        display: none !important;
    }

    .image-responsive {
        display: block !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) { /* tamanho de um tablet */
    .container-footer {
       gap: 10px; 
    }

    .navbar>.container {
        flex-wrap: nowrap;
    }

    .display-none {
        display: none !important;
    }

    .image-responsive {
        display: block !important;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1180px) {
    .display-none {
        display: none !important;
    }

    .image-responsive {
        display: block !important;
    }

}